---
import Layout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Works from "../components/Works.astro";
---

<Layout title="Welcome to Astro.">
  <header>
    <Hero title="Irina is a communication designer" />
  </header>
  <main class="flex flex-col">
    <Works />
  </main>
</Layout>
